/*build*
/bin
/debug
/patches
/qtc-gdbmacros
/include
/win32

/src/__/
/src/config.h
/src/qrc_resources.cxx
/src/vlmc_automoc.cpp
vlmc

/contribs/bin
/contribs/include
/contribs/lib
/contribs/src-dl
/contribs/temp
/contribs/tools
/contribs/plugins
/contribs/ts
/contribs/vlc

.DS_Store
Thumbs.db

*.pro.user
moc_*.cpp
moc_*.cxx*
ui_*.h
.*.swp
*~
*.o
*.so*
qrc_ressources.cpp

Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
missing

