/*build*
/bin
/debug
/patches
/qtc-gdbmacros
Makefile*
/include
/win32

/contribs/bin
/contribs/include
/contribs/lib
/contribs/src-dl
/contribs/temp
/contribs/plugins

.DS_Store
Thumbs.db

*.pro.user
moc_*.cpp
moc_*.cxx*
ui_*.h
.*.swp
*~
*.o
*.so*
qrc_ressources.cpp
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CPack*.cmake
CMakeLists.txt.*
