Hugo Beauzée-Luyssen <hugo@beauzee.fr> <hugo@beauzee.fr>
Hugo Beauzée-Luyssen <hugo@beauzee.fr> <beauze.h@gmail.com>
Hugo Beauzée-Luyssen <hugo@beauzee.fr> <chouquette@loutre.localdomain>
Hugo Beauzée-Luyssen <hugo@beauzee.fr> <hugo@fairplayinteractive.tv>
Hugo Beauzée-Luyssen <hugo@beauzee.fr> <chouquette@nibbler.localdomain>
Hugo Beauzée-Luyssen <hugo@beauzee.fr> <chouquette@otterz.localdomain>
Hugo Beauzée-Luyssen <hugo@beauzee.fr> <chouquette@glados.localdomain>

Ludovic Fauvet <etix@l0cal.com> <etix@videolan.org>
Ludovic Fauvet <etix@l0cal.com> <etix@.(none)>

Clement CHAVANCE <chavance.c@gmail.com> <kinder@bueno.(none)>
Clement CHAVANCE <chavance.c@gmail.com> <kinder@vlmc.org>
Clement CHAVANCE <chavance.c@gmail.com> <kinder@kindesktop.(none)>

Geoffroy Lacarriere <geoffroylaca@gmail.com> <geoff@defonceuse.(none)>
Geoffroy Lacarriere <geoffroylaca@gmail.com> <geoff@geoff-desktop.(none)>

Yikai Lu <luyikei.qmltu@gmail.com> luyikei

Christophe Courtaut <christophe.courtaut@gmail.com>

Rohit Yadav <rohityadav89@gmail.com> <bhaisaab@baagi.org>
Rohit Yadav <rohityadav89@gmail.com> <rohit.yadav@wingify.com>

Vincent Carrubba <cyberbouba@gmail.com> <boubak@MadStorm.(none)>
